@model IEnumerable<KinoAfishaDP.Models.Profile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@using (@Html.BeginForm())
{
     <label>Ім'я користувача</label> @Html.TextBox("name")<br />  
    
    <input class="btnSearchComent" type="submit" value="Шукати" />
}
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHOTO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
    string mail = "mailto:"+item.EMAIL;
    string link = "UserPhotoes/Index?nickname=" + item.NAME.ToString();
    <tr>
        <td>
            <a href="@link">@Html.DisplayFor(modelItem => item.NAME)</a>
        </td>
        <td>
           <a href=@mail>@item.EMAIL</a>
        </td>
        <td>
           <img width=200 height=150 src=@Html.DisplayFor(modelItem => item.PHOTO) alt=@item.NAME>
        </td>
        <td>
           |@Html.ActionLink("Edit", "Edit", new { id=item.ProfileID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProfileID }) |
         
        </td>
    </tr>
}

</table>
