@model IEnumerable<KinoAfishaDP.Models.Film>

@{
    Layout = null;
    ViewBag.Title = "Index";
    AjaxOptions options = new AjaxOptions()
      {
          UpdateTargetId = "tabledata",
          Url = Url.Action("Sort", "Films"),
          HttpMethod = "POST",
          InsertionMode = InsertionMode.Replace

      };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    
    
    <link href="~/Content/Site.css" rel="stylesheet">
      <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>

</head>
<body>
    @if (TempData.Peek("_UserRole") as string == "Admin")
            {
        <span class="btnFilm">
            @Html.ActionLink("Create new", "Create")
        </span>
    }
        <div class="row">

            @* Аякс запрос вставлятиме дані в ось це місце*@
            <div class="col-lg-9" id="tabledata">
                @Html.Action("Sort")
            </div>

            <!--Search fixed panel-->
            <div class="col-lg-3">
            @using (Ajax.BeginForm(options))
            {
                    <div class="row searchPanel">
                        <div class="searcHeader">Пошук</div>
                        <!--Search label-->
                        <div class="col-lg-4">
                            <label>Назва</label>
                            <label>Жанр</label>
                            <label>Країна</label>
                        </div>
                        <!--Search select-->
                        <div class="col-lg-4">
                            @Html.DropDownList("FilmName", String.Empty)
                            @Html.DropDownList("FilmGenre", String.Empty)
                            @Html.DropDownList("FilmCountry", String.Empty)
                            @* @Html.DropDownList("FilmCountry", "Усі країни")*@
                        </div>
            
                            @* <label>Дата виходу</label>*@
                            @Html.TextBox("data", null, new { @placeholder = "Рік виходу" })

                            @*<label>Акторський склад</label>*@
                            @Html.TextBox("actor", null, new { @placeholder = "Акторський склад" })

                            <input class="btn btn-default" type="submit" name="operation" value="Шукати прем'єру" /> <br />
                        </div>



                }
               
            </div>

        </div>
        @section scripts {
            <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        }
  </body> 
</html>
