@model KinoAfishaDP.Models.Review

@{
    ViewBag.Title = "Про прем'єру";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;

}
@section scripts
        {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="http://scriptjava.net/source/scriptjava/scriptjava.js"></script>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", init, false);
        function init() {
            if (localStorage['frm_reload'] !== undefined) {
                delete localStorage['frm_reload'];
                mess();
            }
            var a = document.getElementById('but');

            function mess() {
                alert("Дякуємо, за Ваш коментар!");
            }
            a.addEventListener("click", reload, false);

            function reload() {
                localStorage['frm_reload'] = '1';
                document.location.reload();
                document.cookie = "golos";
            }
        }
    </script>
   
}



@section Owl
    {

     <script src="~/Content/OwlCarousel/jquery-1.9.1.min.js"></script>
    @*<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>*@
    <link href="~/Content/src/rateit.css" rel="stylesheet" type="text/css">
    <script src="~/Content/src/jquery.rateit.min.js" type="text/javascript"></script>
    <script src="~/Content/src/jquery.rateit.min.js.map" type="text/javascript"></script>


<!-- owl styles -->
<link rel="stylesheet" href="~/Content/OwlCarousel/owl.carousel.css">
<link rel="stylesheet" href="~/Content/OwlCarousel/owl.theme.default.css" />
 
  
    <script src="~/Content/OwlCarousel/owl.carousel.min.js"></script>

}
<br/>

@{var tr = "https://www.youtube.com/results?search_query=" + Model.FilmName_Review;}
            
        <div class="row gradient">
            
            <div class="col-lg-4">
        <img src="@Model.FilmPictures_Review.Split(',')[0]" width="300" height="250" alt ="Pictures"/>
            </div>
            <div class="col-lg-8">
                <h3> <a href="@tr" target="_blank" title="Глянути відео в YOUTube">
                    @Html.DisplayFor(model => Model.FilmName_Review) </a></h3>
                <table class="filmTable">
                <tr><td>Тривалість:</td>  <td> @Html.DisplayFor(model => Model.FilmLength_Review)</td></tr>
                
                <tr><td>Рейтинг:</td> <td> @Html.DisplayFor(model => Model.FilmRating_Review)
                <tr><td>Жанр:</td>   <td>  @Html.DisplayFor(model => Model.FilmGenre_Review)</tr>
                <tr><td>Зірковий склад:</td>   <td> @Html.DisplayFor(model => Model.FilmActors_Review)</tr>
                </table>
                <div id="products">
                    Дайте свою оцінку:
                        <div data-productid="@Model.FilmId_Review" class="rateit">
                            @*    <div data-productid="653" class="rateit">*@
                        </div>
                </div>
                
            </div>
       
        

            </div>
            <div class="filmReview">Опис:     @Html.DisplayFor(model => Model.FilmReview_Review)</div>

<div id="carousel" class="owl-carousel owl-theme hightOfCarousel">
    <img src="@Model.FilmPictures_Review.Split(',')[0]" width="200" height="150" alt ="Pictures"/>
    <img src="@Model.FilmPictures_Review.Split(',')[1]" width="200" height="150" alt ="Pictures"/>
    <img src="@Model.FilmPictures_Review.Split(',')[2]" width="200" height="150" alt ="Pictures"/>
    <img src="@Model.FilmPictures_Review.Split(',')[3]" width="200" height="150" alt ="Pictures"/>
    <img src="@Model.FilmPictures_Review.Split(',')[4]" width="200" height="150" alt ="Pictures"/>
</div>




@section Golos
    {
     <script type="text/javascript">
         //we bind only to the rateit controls within the products div
         $('#products .rateit').bind('rated reset', function (e) {
             var ri = $(this);

             //if the use pressed reset, it will get value: 0 (to be compatible with the HTML range control), we could check if e.type == 'reset', and then set the value to  null .
             var value = ri.rateit('value');
             var productID = ri.data('productid'); // if the product id was in some hidden field: ri.closest('li').find('input[name="productid"]').val()

             //maybe we want to disable voting?
             ri.rateit('readonly', true);

             $.ajax({
                 url: '/Films/Review', //your server side script
                 data: { id: productID, value: value }, //our data
                 type: 'POST',
                 success: function reload() {
                     document.location.reload();
                     alert("Дякуємо,за ваш  голос");
                    

                 }
             });
         });

</script>

    }

<div id="baran">
   <span class="glyphicon glyphicon-thumbs-up"></span> @Model.Plus_Review
    <br />
     <span class="glyphicon glyphicon-thumbs-down"></span> @Model.Minus_Review
    <br />

</div>
@if ((TempData.Peek("Golos") as string) != null)
{ <h2>@(TempData["Golos"] as string)</h2> }

@using (@Html.BeginForm("Review", "Films"))
{
            
    <button name="action" value="add">Подобається</button>  
    <button name="action" value="minus">Неподобається</button>            
}
<div class="shareFilm">
<h4>Поділись фільмом з друзями:</h4>

<script type="text/javascript">(function () {
    if (window.pluso) if (typeof window.pluso.start == "function") return;
    if (window.ifpluso == undefined) {
        window.ifpluso = 1;
        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
        s.type = 'text/javascript'; s.charset = 'UTF-8'; s.async = true;
        s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
        var h = d[g]('body')[0];
        h.appendChild(s);
    }
})();</script>
<div class="pluso" data-background="#ebebeb" data-options="medium,square,line,horizontal,counter,theme=04" data-services="vkontakte,facebook,twitter,google,email,print"></div>
</div>
@section OwlScript{
    <script>
        $(document).ready(function () {
            $("#carousel").owlCarousel({
                autoplay: true,
                autoplayTimeout: 3500,
                items: 4,
                loop: true,
                margin: 10,
                nav: true,
                //responsive: {
                //    0: {
                //        items: 1
                //    },
                //    600: {
                //        items: 3
                //    },
                //    1000: {
                //        items: 5
                //    }
                //}
            })
        })
    </script>
}
@Html.Action("LabelView", "Films", new { num = Model.FilmId_Review })
