@model IEnumerable<KinoAfishaDP.Models.Film>




    @foreach (var item in Model)
    {
        
        string link = "/Films/Review?num=" + @item.FilmId.ToString();
        string way = "/Content/Images/" + item.FilmName + ".png";
        string toSession = "/Sessions/Index?NameOfFilm=" + @item.FilmName;
        
        <div class="row filmSeparator">
            <!--Film image-->
            <div class="col-lg-3">
            @if (TempData.Peek("_UserRole") as string == "Admin" || TempData.Peek("_UserRole") as string == "Moderator")
        {
           
                @Html.DisplayFor(model => item.FilmId);
            
        }

            

                <a title="Переглянути детальну інформацію" href="@link">
                    <img src="@way"  width="150px" height ="200px" alt=@item.FilmName>
                </a>
            
        
                
                </div>

            <!--Film info-->
            <div class="col-lg-8">
                <div class="row infoLine">
                    <div id="filmtitle" class="col-lg-4">
                  <h4> <span class="label label-info">@Html.DisplayFor(modelItem => item.FilmName)  </span></h4>      
</div>
                    <div class="col-lg-4">
                        @Html.DisplayFor(modelItem => item.FilmAge)
                    </div>
                    <div class="col-lg-4">
                        <span>Рейтинг:</span>
                    </div>
                </div>
                <div class="row infoLine">
                    <div class="col-lg-4">
                    @Html.DisplayFor(modelItem => item.FilmCountry)
                    </div>
                    <div class="col-lg-4">
                    @Html.DisplayFor(modelItem => item.FilmGenre)
                        </div>
                    <div class="col-lg-4">
                        <span class="glyphicon glyphicon-star"></span>
                        @Html.DisplayFor(modelItem => item.FilmRating)
                        </div>

                </div>

                <!--film description-->
                <div class="row ">
                    <div class="col-lg-12">
                        <div class="infoFilm">
                            @Html.DisplayFor(modelItem => item.FilmReview)
                        </div>
                    </div>
                   
                
                </div>
                <div class="btnFilm">
                <a  title="Переглянути сеанси" href=@toSession>Встигаємо</a>
                 </div>
                </div>
            <!--Button for admin (edit, delete, create)-->
            <div class="col-lg-1">
                @if (TempData.Peek("_UserRole") as string == "Admin")
                {
                    <div class="dropdown">
                        <button class="dropbtn">Редагувати</button>
                        <div class="dropdown-content">
                            @Html.ActionLink("Edit", "Edit", new { id = item.FilmId })
                            @Html.ActionLink("Details", "Details", new { id = item.FilmId })
                            @Html.ActionLink("Delete", "Delete", new { id = item.FilmId })
                        </div>
                    </div>
                }

            </div>
            
      </div>       
    }

   
