@model IEnumerable<KinoAfishaDP.Models.MovieHouse>

@{
    ViewBag.Title = "Index";

}


<html lang="ua" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Google Maps API v3 - Getting Started</title>
    <link href="../css/default.css" rel="stylesheet" />
    <script type="text/javascript" src="../js/json2.js"></script>

    <!-- ---------- include api with params ------------- -->
    <script type="text/javascript"
            src="http://maps.google.com/maps/api/js?sensor=true">
                   @*Your key. Tham kh?o t?i: http://dev.vast.vn/tuananh/Web/C%C4%90077#chuong5*@
    </script>

    <script lang="ja">
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();
        var map;
        var geocoder;

        function initialize() {
            geocoder = new google.maps.Geocoder();
            directionsDisplay = new google.maps.DirectionsRenderer();

            var Dnipropetrovsk = new google.maps.LatLng(48.460861, 35.056737);
            var mapOptions = {
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: Dnipropetrovsk
            };

            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

            // ??????????? ??????? ??????, ??????? ????? ?????????????? ??? ??????????? ?????
            var myLatlng = new google.maps.LatLng(48.460861, 35.056737);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'You are here'
            });
            // ????? ??? ??????? ?????? ? ????? google
            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')



            // ???????? ??????
            $.getJSON('@Url.Action("GetData", "MovieHouses")', function (data) {
                // ???????? ?? ???? ?????? ? ????????????? ??? ??? ???????



                $.each(data, function (i, item) {


                    var marker = new google.maps.Marker({
                        'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                        'map': map,
                        'title': item.MovieHouseName


                    });


                    // Blue marker from google
                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')



                    var contentString = "<div class='stationInfo'><h3>Кінотеатр: " + item.MovieHouseName
                               + "</h3><div><h4>Рейтинг: " + item.MovieHouseRating
                               + "</h4></div>"
                    + "<div><img src=" + item.MovieHouseStars + " width='140' height='25'/>"

                    // ??? ??????? ??????? ????????? ???. ??????????, ????????? ? ????????? ????
                    var infowindow = new google.maps.InfoWindow({
                        //content: "<div class='stationInfo'><h2>??????? " + item.PlaceName + "</h2><div><h4>????? ?????: "
                        //    + item.Line + "</h4></div><div><h4>??????????????: " + item.Traffic + " ???. ???????</h4></div></div>"

                        content: contentString
                    });

                    // ?????????? ??????? ?? ?????? ???????
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);


                    });
                })
            });

            directionsDisplay.setMap(map);
            directionsDisplay.setPanel(document.getElementById("directionsPanel"));
        };

        function calcRoute() {
            var start = '';
            var end = '';




            start = document.getElementById('start').value;
            geocoder.geocode({ 'address': start }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    start = results[0].geometry.location;
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });

            end = document.getElementById('end').value;
            geocoder.geocode({ 'address': end }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    end = results[0].geometry.location;
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });


            var selectedMode = document.getElementById("mode").value;
            var request = {
                origin: start,
                destination: end,
                travelMode: google.maps.TravelMode[selectedMode]
            };
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });
        };

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>




<body>
    <div>
        @section scripts
        {
            <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        }


        @foreach (var item in Model)
            {
                string link = "MovieHouses/Index?name=" + @item.MovieHouseName.ToString();

            


                 <div class="row">
                <div class="movieHouseImage col-lg-2 col-lg-offset-1"><img height="100" width="130" src="@item.MovieHouseImage"></div>
                

                <div class="movieHouseInfo col-lg-6">
                    <h4><a href=@link>@Html.DisplayFor(modelItem => item.MovieHouseName)</a></h4>
                    <span class="glyphicon glyphicon-earphone"></span>@Html.DisplayNameFor(model => model.MovieHouseTelephone):
                    @Html.DisplayFor(modelItem => item.MovieHouseTelephone)
                    <span class="leftPosition glyphicon glyphicon-star">
                        @Html.DisplayNameFor(model => model.MovieHouseRating):
                        @Html.DisplayFor(modelItem => item.MovieHouseRating)
                    </span><br />
                    @Html.DisplayFor(modelItem => item.MovieHouseAdress)
                    <br />

                </div>
                <div class="col-lg-2">
                    @if (TempData.Peek("_UserRole") as string == "Admin")
                    {
                        <div class="dropdown">
                            <button class="dropbtn">Редагувати</button>
                            <div class="dropdown-content">
                                @Html.ActionLink("Edit", "Edit", new { id = item.MovieHouseId })
                                @Html.ActionLink("Details", "Details", new { id = item.MovieHouseId })
                                @Html.ActionLink("Delete", "Delete", new { id = item.MovieHouseId })
                            </div>
                        </div>

                    }
                </div>
            </div>
        }
        


    </div>
    <div class="searchWay">
        <label>Звідки:</label><input type="text" id="start" name="start" value="Академія митної служби України" />
        <label>Куди:</label><input type="text" id="end" name="end" value="Академія митної служби України" />
        <label>Оберіть транспорт:</label>
        <select id="mode">
            <option value="DRIVING">На авто</option>
            <option value="WALKING">Пішком</option>
            <option value="BICYCLING">На велосипеді не працює</option>
            <option value="TRANSIT">Громадський транспорт</option>
        </select>
        <button onclick="javascript: calcRoute();">Прокласти маршрут</button>
    </div>
    <div id="map_canvas" style="width: 650px; height: 700px; margin-left: 13%"></div>
    <div id="directionsPanel" style=" width 650px; height 500px; overflow auto;"></div>
</body>
</html>
